@model decimal?
@{
 <div class=" input-append">
   @Html.TextBoxFor(model => model,"{0:N2}", new { @class = "input-small", style="text-align:right", data_val_refresh_id=ViewData["data_val_refresh_id"]}) 
  <span class="add-on">@(ViewData["addon"]??"руб.")</span> 
</div>
   }
