body { padding-top: 70px;
    height: 100%;
}

.field-validation-error
{
	font-weight:normal;
	color: red;
}

.input-validation-error
{
    background: #FEF1EC !important;
    border: 1px solid red !important;
}

html {
    min-height: 100%;
    height: 100%;
}
